/* CSS del div selector */
/*----------------------------*/

.selector{
    margin: auto;
    margin-top: 15%;
    width: 10%;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightblue;
}


/*----------------------------*/

/* CSS de la lista ordenada/desordenada resultante*/
/*----------------------------*/

ol, ul{
    margin: auto;
    margin-left: 45%;
    margin-top: 1%;
    font-size: larger;
}
/*----------------------------*/

/* CSS de la tabla resultante*/
/*----------------------------*/
.tabla-bonita {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 1%;
}


.tabla-bonita th,
.tabla-bonita td {
    padding: 12px 15px;
}
.tabla-bonita thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.tabla-bonita tbody tr {
    border-bottom: 2px solid #dddddd;
    background-color: #ffffff;
}
/*----------------------------*/

