body{
  font-family: sans-serif;
  margin-left:100px;
  margin-right:100px;
}
h1{
  text-align: center;
}

button{
  background-color: gray;
  color: #ffffff;
  border: none;
  font-weight: bold;
  padding: 7px;
}
/* CSS de la tabla resultante*/
/*----------------------------*/
.tabla-bonita {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  
  margin-top: 1%;
}

.tabla-bonita thead tr {
  background-color: cornflowerblue;
  color: #ffffff;
  text-align: left;
}

.tabla-bonita th,
.tabla-bonita td {
  padding: 12px 15px;
}

.tabla-bonita tbody tr {
  border-bottom: 1px solid #dddddd;
}
/*----------------------------*/

#panel, #flip {
padding: 10px;
color: white;
text-align: center;
background-color: cornflowerblue;
}

#panel {
padding: 10px;
display: none;
}